*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}
/*App background */

body {
  background: url("/public/calm.gif") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
/*App container*/


/*App container opacity*/
.app-container-opacity  {
  margin:200px 70px 70px 70px;
  padding: 6rem;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  justify-content: center;
}



.app-value {
  width: calc(150% - 200px);
  height: 150%;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: #fff;
  padding: 6px;
  font-size: 200%;
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.app{
display: flex;
justify-content: center;
align-items: center;
min-width: 50vw;

}

.app-name {
  margin: 20px 0 15px -5px;
  min-width: 15vw;
  background-image: linear-gradient(
    -225deg,
    #f8f6f1 20%,
    #fff800 45%,
    #ffa060 70%,
    #ffa406 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 35px;
}

/*App counter button*/
button {
  cursor: pointer;
}

.reset-btn {
  padding: 18px;
  background: #c75103;
  border: 2px solid rgba(255, 255, 255, 0.3);
}
.reset-btn:hover {
  color: black;
  background:#ffc600;
  transition: 2s;
}
.teb{
  text-align: center;
  margin-top: 150px;
  font-size: 16px;
}

.teb-boundary{
display: none;
}

.efb{
  text-align: center;
  margin-top: 150px;
}

.teb-btn{
  padding: 10px;
  max-width: 30vw;
  background: red;
  color: #ffa060;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  border:2px solid #ffa060;
}
.decrement-button {
  color: red;
  padding: 3px;
  border-radius: 5px; 
  transition: 2s;
  font-size: 60px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.increment-button {
  color: rgba(27, 103, 0, 0.9);
  padding: 2px;
  border-radius: 5px;
  transition: 2s;
  font-size: 60px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.decrement-button:hover {
  color: black;
  background: red;
}
.increment-button:hover {
  color: black;
  background: rgba(27, 103, 0, 0.9);
}
/*App counter text*/

Sinput[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}


@keyframes textclip {
  to {
    background-position: 200% center;
  }
}



.app-actions {
 position: absolute;
 margin-top: 8.6rem;

}

.nav-bar{
display: flex;
justify-content: center;
background-color: #c75103;
padding: 8px 0 8px 8px;
min-width: 50vw;
font-size: 20px;

}
.nav-link{
margin: 15px 0 15px 25px;
text-align: center;
border: 2px solid rgba(255, 255, 255, 0.3);
text-decoration: none;
background: rgba(255, 255, 255, 0.3);
color: #fff;
border-radius: 3px;
min-width: 15vw;
padding: 10px;
}

@media screen and (max-width: 500px) {
  .app-container {
    width: 70vw;
    height: 70vh;
  }
}
